.club-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cart-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 30px;
    margin-top: 10px;
}
.details-container{
    width: 400px;
    height: 700px;
    border: 0;
    background-color: white;
    border-radius: 10px;
    position: sticky;
    top: 0;
    margin-right: 20px;
}
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 920px)and (min-width: 360px) {
    .cart-container{
        margin-left: 5px;
        margin-right: 5px;
        grid-template-columns: repeat(1, 1fr);
    }
}

 

/* Large devices (laptops/desktops, 992px and up) */
 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) and (min-width:921px){
 .cart-container{
    grid-template-columns: repeat(2, 1fr);
 }
}